.about-container {
  margin-top: 10vh;
}

.about-statement {
  margin-bottom: 7%;
  background-color: #2f3138;
  color: white;
  text-align: center;
  padding: 2%;
  min-width: 100vw;
}

.about-statement h2 {
  font-size: 4rem;
}

.about-statement p {
  margin-top: 4vh;
  font-size: 1.5rem;
}

.team-row {
  background-color: white;
  min-height: 100%;
  text-align: center;
  min-width: 100vw;
  color: black;
  position: relative;
  margin-bottom: 8vh;
}

.team-row h1 {
  font-size: 3rem;
  position: absolute;
  padding: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.founder-card-container {
  color: black;
  padding: 0 5vh;
}

.custom-founder-card img {
  object-fit: contain;
  height: 320px;
  width: 320px;
}

.custom-founder-card {
  height: fit-content;
}

.custom-founder-card h2 {
  font-size: 2.5rem;
}
.custom-founder-card p {
  font-size: 1rem;
}

.custom-founder-card h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .about-container {
    margin-top: 10vh;
  }

  .about-statement {
    margin-bottom: 7%;
    background-color: #2f3138;
    color: white;
    text-align: center;
    padding: 2%;
    min-width: 100vw;
  }

  .about-statement h2 {
    font-size: 2.5rem;
  }

  .about-statement p {
    margin-top: 4vh;
    font-size: 1rem;
  }

  .team-row h1 {
    font-size: 1.5rem;
  }

  .custom-founder-card img {
    object-fit: contain;
    height: 250px;
    width: 250px;
  }

  .custom-founder-card {
    height: fit-content;
  }

  .custom-founder-card h2 {
    font-size: 1.8rem;
  }
  .custom-founder-card p {
    font-size: 0.6rem;
  }

  .custom-founder-card h3 {
    font-size: 0.9rem;
  }
}
