.main-div {
  margin-top: 10vh;
  color: white;
}

.home-div {
  min-height: 75vh;
  max-height: 95vh;
  background-color: #2f3138;
}

.mission-statement {
  margin-top: 10vh;
  margin-bottom: 9vh;
  font-size: 4rem;
  color: white;
  white-space: pre;
}

.secondary-text {
  font-size: 1.4rem;
  margin-bottom: 7vh;
  padding: 0vw 10vw;
}

.intro-container {
  position: relative;
  margin-top: 8vh;
  margin-bottom: 20vh;
}

.blog-intro {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: black;
}

.blog-intro h1 {
  border-bottom: 1px black solid;
  font-size: 3rem;
}

.second-page {
  margin: 0 auto;
  background-color: white;
  color: #032343;
  min-width: 100vw;
  min-height: 50vh;
  padding-bottom: 10px;
}

.second-header {
  margin: 40px auto;
  color: #032343;
}

.last-div {
  background: #032343;
  min-height: 25vh;
}

@media screen and (max-width: 768px) {
  .main-div {
    margin-top: 10vh;
    color: white;
  }

  .home-div {
    min-height: 75vh;
    max-height: 95vh;
    background-color: #2f3138;
  }

  .intro-container {
    position: relative;
    width: 100vw;
    margin-top: 6vh;
    margin-bottom: 8vh;
  }

  .mission-statement {
    margin-top: 10vh;
    margin-bottom: 9vh;
    font-size: 2rem;
    color: white;
    white-space: pre;
  }

  .secondary-text {
    font-size: 0.8rem;
    margin-bottom: 7vh;
  }

  .blog-intro h1 {
    font-size: 2rem;
  }

  .blog-intro h1 {
    border-bottom: 1px black solid;
  }
}
