.list-custom-item {
  border-collapse: collapse;
  font-size: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  text-decoration: none;
}

.list-custom-item:hover {
  border-collapse: collapse;
  font-size: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  text-decoration: none;
  animation: toggle-active 0.4s forwards;
}

.sidebar {
  padding-left: 0px;
  background-color: #212529 !important;
  opacity: 1;
  color: white !important;
  width: 50%;
  position: absolute;
  z-index: 200;
  left: -100%;
  animation: side-open 0.58s forwards;
}

.sidebar-closed {
  left: 0%;
  height: 100vh;
  padding-left: 0px;
  background-color: #212529 !important ;
  opacity: 1;
  color: white !important;
  width: 65%;
  position: fixed;
  z-index: 200;
  animation: side-close 0.58s forwards;
}

@keyframes side-open {
  100% {
    left: 0;
  }
}

@keyframes side-close {
  100% {
    left: -100%;
  }
}
